<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.in.raf1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application        
        android:allowBackup="true"        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Notes Activity -->
        <activity
            android:name=".AllNotes"
            android:label="All Notes" >
        </activity>

        <!-- Add Note Activity -->
        <activity
            android:name=".NewNote"
            android:label="Add New Note" >
        </activity>

        <!-- Edit Note Activity -->
        <activity
            android:name=".EditNote"
            android:label="Edit Note" >
        </activity>
    </application>    

</manifest>
